.floating {
float: left;
}

/* .black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
}  */
.white_content { 
    display: none; 
    color: black;
    position: relative; 
    top: 25%; 
    left: 50%; 
    width: 25%; 
    height: 50%; 
    padding: 20px; 
    /* border: 10px solid orange;  */
    background-color: orange; 
    z-index:1002; 
    overflow: auto; 
    font-family: 'Merriweather', serif;
} 
.reflection { 
    display: none; 
    color: white;
    position: -webkit-sticky;
    position: sticky; 
    top: 25%; 
    left: 50%; 
    width: 25%; 
    height: 50%; 
    padding: 20px; 
    background-color: darkblue; 
    z-index:1002; 
    overflow: auto; 
    font-family: 'Merriweather', serif;
} 
p {
    display: block;
    margin-block-end: 1em;
    margin-block-start: 1em;
    padding: 0em 5em 0em 10em ;
    font-family: 'Merriweather', serif;
}
img {
    padding: 0em 5em 0em 10em ;
}
.sticky {
    float: left;
    font-family: 'Lato', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 10em;
    left: 0em;
    width: 8em;
    background-color: orange;
    padding: 0px;
    font-size: 20px;
  }
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-bottom: 2em;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    margin: 3em 0em 1em 5em;
    padding: 0;
    font-size: 2em;
}
pre{
    padding: 0em 5em 0em 10em;
}
ul {
    padding-inline-start: 75px;
    list-style-type: none;
}
.annotation {
    font-family: 'Lato', sans-serif;
    color: rgb(75, 75, 75);
}
.caption {
    font-family: 'Lato', sans-serif;
    color: rgb(196, 196, 196);
    font-size: 10px;
    text-align: center;
}